/**
 * interface.css
 */
    body,
    html{
	       width:auto !important;
           height:100%;
		   background-color:#ffffff;
    }

    body{
           text-align:center;
    }

    html.js .container-span .toolbar {
            background:url('../images/toolsbar.png') repeat-x scroll 0 0px;
            width:100%;
    }

	.navigation{
		 border:1px solid #c4c4c4;
		 background-color:#c5ced9;
		 box-shadow:0px 3px 5px -1px rgb(183, 183, 183) inset;
		 -moz-box-shadow:0px 3px 5px -1px rgb(183, 183, 183) inset;
		 -webkit-box-shadow:0px 3px 5px -1px rgb(183, 183, 183) inset;
		 margin:10px 0px;
		 overflow:hidden;
		 height:38px;
	}

	.navigation > ul{
	  width:100%;
	}

	#menu > li{
	   width:20%;
	   height:38px;
	}

	#menu > li > a{
	   padding:11px 7px;
	   font-size:12px;
	}

	#menu > li > a{
	   background-color:#e6ebf2;
	}

	#menu > li > a:hover{
		 color:#4477a1;
	}

	.button-place-holder{
		 height:38px;
		 margin:10px 0px;
	}

	.button-place-holder > a{
		 display:inline-block;
	}

	div#MAIN_SSR,
	.requests,
	.navview > .navbox{
		 display:none;
	}
	
	body[class*='box-'] > div#MAIN_SSR, /* box-12, box-2004 */		  
	body.box-12 .navview > .scorm_1_2,
	body.box-2004 .navview > .scorm_2004{
	   display:block;
	}

	.box-12 .adl-flow-nav-request-button{
		display:none;
	}

	.box-2004 .adl-flow-nav-request-button{
		
	}

	#course-toc{
	   padding-top:15px;
	}

	.package-visible{
		 display:block;
	}

	.mainview{
		 position:relative;
		 overflow:auto;
		 height:100%;
	}

	.navview{
		 margin:0;
		 min-height:50px;
		 *height:50px;
		 *height:auto !important;
	}

	html.js .container-span .shade{
		 background-color:#eeeeee;
		 height:420px;
		 width:100%;
		 margin:0;
	}
	
	.footer{
	   background:url('../images/propertybar.png') repeat-x 0 -2px;
	   height:30px;
	}
	
	.footer-wrapper{
		 width:98%;
		 margin-left:1%;
		 margin-right:1%;
		 height:20px;
		 padding-top:5px;
		 padding-bottom:5px;
	}
	
	.text-holder{
		 white-space:pre;
	}

	.package-visible{
		 margin-right:0;
	}

	.package-visible > .package-toc{
		 min-height:150px;
		 width:100%;
		 *height:150px;
		 *height:auto !important;
	}

	.package-hidden{
		 display:none;
	}  

	.viewport{
		 width:719px;
		 background-color:#ffffff;
	}

	.package-visible + .viewport .runtime{
		 border-left:1px solid #333333;
	}

	.package-hidden + .viewport{
		 width:960px;
		 /*height:auto !important;*/
	}

	.package-hidden + .viewport  .runtime{
		 border-left:1px solid transparent;
	}
	
	div#MSG_SSR{
		 display:block;
	 position:fixed;
	 top:50%;
		 left:50%;
		 margin-top:-6%;
		 margin-left:-10%;
	 padding:50px 0 10px 0;
	 background-color:#ffffff;
	 background-repeat:no-repeat;
	 background-image:url('../images/loader2.gif'); 
	 background-position:center top;	 
	}
		
	div#MSG_SSR  div#msg_canvas{
		
	}
		
	div#msg_canvas span.placeholder{
		
	}
		
	body[class*='box-'] > div#MSG_SSR{
	     display:none;
	}